name: build

permissions:
  id-token: write

on: [workflow_dispatch, push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
    steps:
    - uses: actions/checkout@v6
    - uses: astral-sh/setup-uv@v7
      with:
        python-version: ${{ matrix.python-version }}
    - run: make check
    - run: uv run coverage xml
    - uses: codecov/codecov-action@v5
      with:
        use_oidc: true

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: astral-sh/setup-uv@v7
    - run: make lint

  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: astral-sh/setup-uv@v7
    - run: make html

  bench:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: astral-sh/setup-uv@v7
    - uses: CodSpeedHQ/action@v4
      with:
        mode: simulation
        run: make bench
