name: codspeed-benchmarks

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  benchmarks:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
    - uses: actions/checkout@v6
    - uses: astral-sh/setup-uv@v7
    - uses: CodSpeedHQ/action@v4
      with:
        mode: simulation
        run: make bench
