name: release

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v5
      with:
        python-version: 3.x
    - run: pip install build -r docs/requirements.in
    - run: python -m build
    - run: PYTHONPATH=$PWD mkdocs gh-deploy --force
    - uses: pypa/gh-action-pypi-publish@release/v1
